@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles de base forcés pour le fond et le conteneur principal */
body {
  background-color: #702B90; /* Violet Uni Spécifié */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centre le contenu globalement */
  align-items: center; /* Centre le contenu verticalement */
  min-height: 100vh;
}

/* Police Agency FB par défaut (fallback) */
.font-agencyfb {
  font-family: 'Agency FB', Impact, Arial Black, sans-serif;
}